@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lexend:wght@300;400;500;600;700&display=swap');

.imgDenied {
    width: 500px;
    margin: 100px auto 0 auto;
}

.textPage {
    font-family: 'Black Ops One', cursive;
    color: red;
    font-size: 28px;
    margin: 10px auto;
    text-align: center;
}

.btnBackHome {
    background-image: linear-gradient(to right, #3245ef 0%, #89fffd 51%, #ef32d9 100%);
    margin: auto;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: block;
    border: none;
    font-weight: bold;
}


.btnBackHome:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}