.productPage {
    margin: 10px 0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px 20px;
}

.imgProduct {
    height: 505px;
    background-color: #cccfd1;
    border-radius: 10px 0px 0px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.aroundImg {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.imgItem {
    width: 300px;
}

.infoProduct {
    height: 505px;
    padding: 20px;
    background-color: #dfdfdf;
    border-radius: 0px 10px 10px 0px;

}

.contentProduct {
    height: 300px;
    color: #000000;
    font-weight: 600;
}


.iconColor {
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    margin: 0px 3px;
    border: 2px solid #ccc7c7;
    border-radius: 50%;
    transform: translateY(2px);
}

.desItem {
    width: 60%;
}

@media (max-width: 992px) {
    .imgProduct {
        border-radius: 10px 10px 0px 0px;
    }

    .infoProduct {
        border-radius: 0px 0px 10px 10px;

    }
}